<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
    <h1>Changed profile successfully!</h1>
    <form action="{% url 'workflow:dashboard' %}"><button type="submit">Home</button></form>
</body>
</html>