<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change password</title>
</head>
<br><br>
<body>
    <form method="get" action="{% url 'changed_password' %}">
 	<label for="oldpassword">Old Password</label>
        <input type="password" id="oldpassword">
	<br><br>
 	<label for="newpassword">New Password</label>
        <input type="password" id="newpassword">
	<br><br>
        <input type="submit" value="CHANGE PASSWORD">
    </form>
</body>
</html>