<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>passwordchanged</title>
</head>
<strong>YOUR PASSWORD HAS BEEN CHANGED</strong>
<br><br>
<body>
    <form method="get" action="{% url 'workflow:dashboard' %}">
        <input type="submit" value="HOME">
    </form>
</body>
</html>