<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

            <form action="{% url 'changed_profile' %}">
                <label for="firstName">First name</label>
                <input type="string" id="firstName">
                <br><br>
                <label for="lastName">Last name</label>
                <input type="string" id="lastName">
                <br><br>
                <label for="phoneNumber">Phone number</label>
                <input type="string" id="phoneNumber">
                <br><br>
                <label for="email">Email</label>
                <input type="string" id="email">
                <br><br><label for="other">Other Information</label>
                <input type="text" id="other">
                <br><br>
                <label for="notification">Notification</label>
                <select id="notification">
                    <option value="Email">Email</option>
                    <option value="SMS">SMS</option>
                </select>
                <br><br>
                <input id="change-profile" type="submit" value="CHANGE PROFILE">
            </form>
            <form method="get" action="{% url 'change_password' %}">
                <input id="change-password" type="submit" value="CHANGE PASSWORD">
            </form>

</body>
</html>
