<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
<form method="get" action="{% url 'management:settings_changed' %}">
    <label for="max_transaction_per_day">Max Transaction Per Day</label>
    <input type="number" id="max_transaction_per_day">
    <label for="min_transaction_per_day">Min Transaction Per Day</label>
    <input type="number" id="min_transaction_per_day">
    <input type="submit">
</form>
</body>
</html>
