<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charged</title>
</head>
<body>
<h2>Account got charged successfully!</h2>
    <a href="{% url 'workflow:dashboard' %}">Home</a>
</body>
</html>